USE [master]
GO
/****** Object:  Database [db_Money]    Script Date: 20/11/2019 11:56:05 CH ******/
CREATE DATABASE [db_Money]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_Money].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_Money]
GO
/****** Object:  Table [dbo].[NganHang]    Script Date: 20/11/2019 11:56:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NganHang](
	[MaNganHang] [varchar](15) NOT NULL,
	[TenNganHang] [varchar](20) NULL,
 CONSTRAINT [PK_NganHang] PRIMARY KEY CLUSTERED 
(
	[MaNganHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 20/11/2019 11:56:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [varchar](150) NOT NULL,
	[MK] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TheTietKiem]    Script Date: 20/11/2019 11:56:06 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TheTietKiem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSo] [varchar](50) NULL,
	[Email] [varchar](150) NOT NULL,
	[MaNganHang] [varchar](15) NOT NULL,
	[NgayGui] [date] NULL,
	[SoTienGui] [float] NULL,
	[LaiSuat] [float] NULL,
	[KhiDenHan] [nvarchar](50) NULL,
	[TraLai] [nvarchar](50) NULL,
	[KyHan] [nvarchar](30) NULL,
	[LaiKhongKyHan] [float] NULL,
	[TatToan] [bit] NULL,
	[TienLai] [float] NULL,
 CONSTRAINT [PK_TheTietKiem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TheTietKiem]  WITH CHECK ADD  CONSTRAINT [FK_TheTietKiem_NganHang] FOREIGN KEY([MaNganHang])
REFERENCES [dbo].[NganHang] ([MaNganHang])
GO
ALTER TABLE [dbo].[TheTietKiem] CHECK CONSTRAINT [FK_TheTietKiem_NganHang]
GO
ALTER TABLE [dbo].[TheTietKiem]  WITH CHECK ADD  CONSTRAINT [FK_TheTietKiem_TaiKhoan] FOREIGN KEY([Email])
REFERENCES [dbo].[TaiKhoan] ([ID])
GO
ALTER TABLE [dbo].[TheTietKiem] CHECK CONSTRAINT [FK_TheTietKiem_TaiKhoan]
GO
USE [master]
GO
